// Import any other necessary SCSS files
// @import './Mainpage.scss';

// Define your mixins for different screen sizes
@mixin mobile {
    @media (max-width: 738px) {
        @content; // Allows for additional styles to be added when the mixin is included
    }
}

@mixin tablet {
    @media (min-width: 739px) and (max-width: 1024px) {
        @content; // Allows for additional styles to be added when the mixin is included
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content; // Allows for additional styles to be added when the mixin is included
    }
}

// Main hero section styles
.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132); // Background gradient
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
    }

    .textContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        // Mobile styles for textContainer
        @include mobile {
            height: 50%;
            width: 100%;
            gap: 20px;
            align-items: center;
            text-align: center;
            font-size: 36px; 
        }

        img {
            width: 50px;
        }
        h2 {
            font-size: 10vw;
            font-weight: 500;
        }
        h1 {
            font-size: 10vw;
            font-weight: 600;
        }

        @include desktop {
            // height: 50%;
            // width: 100%;
            // gap: 20px;
            // align-items: center;
            // text-align: center;
            font-size: 70px; 
        }

        img {
            width: 50px;
        }
        h2 {
            font-size: 4vw;
            font-weight: 500;
        }
        h1 {
            font-size: 6vw;
            font-weight: 600;
        }
    }


    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        // Mobile styles for imageContainer
        @include mobile {
            height: 50%;
            width: 100%;
            top: unset; 
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // Tablet styles for imageContainer
        @include tablet {
            height: 60%; // Example value, adjust as needed
            img {
                object-fit: cover; // Ensures the image covers the area
            }
        }

        // Desktop styles for imageContainer
        @include desktop {
            height: 100%; // Full height for desktop
            img {
                object-fit: cover; // Ensures the image covers the area
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;

        // Responsive text size adjustments
        @include mobile {
            font-size: 30vh; // Smaller size for mobile
        }

        @include tablet {
            font-size: 40vh; // Medium size for tablet
        }

        @include desktop {
            font-size: 50vh; // Default size for desktop
        }
    }  
}
